.hero__button {
    font-family: inherit;
    border-radius: 4px;
    border: 0;
    padding: 10px 32px;
    margin-top: 30px;
    text-align: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    transition: background-color var(--transition-animation);
}

.projects__button {
    color: var(--primary-text-color);
    background-color: var(--background-third-color);
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    border-radius: 4px;
    padding: 6px 22px;
    transition: color var(--transition-animation),
        background-color var(--transition-animation),
        box-shadow var(--transition-animation);
}