.logo {
    font-family: "Raleway";
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--accent-color);
}

.logo--white {
    color: var(--primary-white-color);
}

.logo--black {
    color: #000000;
}