.logo {
    font-family: "Raleway";
    @include font(700, 26px, 1.19, null);
    color: var(--accent-color);

    &--white {
        color: var(--primary-color-white);
    }

    &--black {
        color: #000000;
    }
}