.subscription {
    margin-left: 93px;

    &__title {
    @include font(700, 20px, 1.14, 0.03em);
    text-transform: uppercase;
    margin-bottom: 20px;
    color: var(--primary-color-white);
}

    &__wrap {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 12px;
}

    &__input {
        display: flex;
        justify-content: center;
        width: 358px;
        height: 50px;
        padding-left: 16px;

        border: 1px solid rgba(255, 255, 255, 0.3);
        /* filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15)); */
        border-radius: 4px;
        outline: transparent;     /*убирает внутреннюю черную линию в поле ввода */

        color: var(--primary-color-white);
        background-color: transparent;
        transition: border-color var(--typical-transition);
        
        &:hover {
            border-color: var(--accent-color);
            }
    }

    &__button-icon {
        display: block;
        width: 24px;
        height: 24px;
        fill: var(--primary-color-white);
    }
}

