.benefits {
    background-color: var(--primary-color-white);

        &__list {
        display: flex;
        align-items: top;
        gap: var(--typical-padding-list);
        /* margin-right: 30px; */
        /* padding-top: 94px;
        padding-bottom: 94px; */
    }

    /* .benefits-item:not(:last-child), 
    .work-item:not(:last-child),
    .team-item:not(:last-child) {
        margin-right: 30px;
    } */

    &__title {
        @include font(700, 14px, 1.14, null);
        text-transform: uppercase;
        padding-bottom: 10px;
        color: var(--text-color-primary);
    }

    &__text {
        @include font(null, 14px, 1.71, null);
        letter-spacing: 0.03em;
        color: var(--text-color);
    }

    // .benefits__item {}

    &__wrap {
        display: flex;
        width: 270px;
        height: 120px;
        align-items: center;
        justify-content: center;
        margin-bottom: 30px;
        border-radius: 4px;

        background-color: var(--background-color-third);
    }

    &__icon {
        transition: fill var(--typical-transition);
    }
}

