.hero {
    max-width: 1600px;
    padding: 200px 0;
    text-align: center;

    background-color: #c4c4c4;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/Img_overlay.jpg");

    &__title {
        width: 696px;
        margin: 0 auto;
        @include font(900, 44px, 1.36, 0.06em);
        text-transform: uppercase;
        color: var(--primary-color-white);
    }
}

