/* .projects {
} */

.projects__button {
    color: var(--primary-text-color);
    background-color: var(--background-third-color);
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    border-radius: 4px;
    padding: 6px 22px;
    transition: color var(--transition-animation),
        background-color var(--transition-animation),
        box-shadow var(--transition-animation);
}

.projects__button:hover,
.projects__button:focus {
    color: var(--background-color-secondary);
    background-color: var(--accent-color);
    cursor: pointer;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
}

.projects__buttons {
    margin-bottom: 34px;
    text-align: center;
}

.projects__list {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    gap: 30px;
}

.projects__item {
    flex-basis: calc((100% - 2 * 30px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects__item-overlay {
    position: relative;
    overflow: hidden;
}

.projects__text-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 65px 24px;
    color: #fff;
    font-size: 18px;
    line-height: 1.55;
    background-color: rgba(33, 150, 243, 0.9);
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    text-align: left;
}

.projects__projects__link:hover,
.projects__projects__link:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects__link:hover .projects__text-overlay,
.projects__link:focus .projects__text-overlay {
    transform: translateY(0%);
}

.projects__wrap {
    border: 1px solid #eeeeee;
    border-top: 0;
    padding: 20px 24px;
    text-align: left;
}

.projects__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.projects__text {
    color: var(--text-color);
    font-size: 16px;
    line-height: 1.88;
}

.projects__link {
    display: block;
    transition: box-shadow var(--transition-animation);
}

.projects__link:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
}